<body>
    <div class="user_show_content">
        <section class="user_show_home_section">
            <h2 class="user_show_heading"><%= current_user.nickname %></h2>
            <p><%= current_user.nickname %>のマイページ</p>
        </section>
        <section class="user_show_about_section">
            <h2 class="user_show_heading">ペット</h2>
            <% if @user_pet.present? %>
              <h3>あなたのペット情報</h3>
              <ul>
                <% @user_pet.each do |pet| %>
                <li><%= pet.name %></li>
                <li><%= pet.pet_type %></li>
            <% end %>
              </ul>
            <% else %>
              <p>ペットの情報がありません。</p>
            <% end %>
        </section>
        <section class="user_show_contact_section">
            <h2 class="user_show_heading">参加しているチャット</h2>
            <p>参加しているチャット表示</p>
        </section>
        <section class="user_show_forum_section">
            <h2 class="user_show_heading">投稿</h2>
            <p>投稿写真（仮</p>
        </section>
        <section class="user_show_post_section">
            <h2 class="user_show_heading">投稿</h2>
            <p>投稿セクションの内容...</p>
        </section>
    </div>
</body>
