<body>
    <div class="user_show_content">
        <section class="user_show_home_section">
            <h2 class="user_show_heading"><%= current_user.nickname %></h2>
            <p><%= current_user.nickname %>のマイページ</p>
        </section>
        <section class="user_show_about_section">
            <h2 class="user_show_heading">ペット</h2>
            <p>ペット表示</p>
        </section>
        <section class="user_show_contact_section">
            <h2 class="user_show_heading">コンタクト</h2>
            <p>コンタクトセクションの内容...</p>
        </section>
        <section class="user_show_forum_section">
            <h2 class="user_show_heading">フォーラム</h2>
            <p>フォーラムセクションの内容...</p>
        </section>
        <section class="user_show_post_section">
            <h2 class="user_show_heading">投稿</h2>
            <p>投稿セクションの内容...</p>
        </section>
    </div>
</body>
